header{
    background-color:gray;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Montserrat,sans-serif;
    margin: 0px;
    padding: 2px;
    border-style: solid;
    

}
header p, h1{
    margin: 5px;
    text-align: center;
}
header h1{
    text-transform: uppercase;
}
h1{
    background-color: gray;
    font-family: sans-serif;
}
img{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
html{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    height: 100%;
    list-style: none;
    color: rgb(255, 255, 255);
    padding: 0;
    font-weight: bold;
}
nav a:hover{
    color: black;
}
.menu li{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    background-color:gray;
    padding-top: 10px;
}

main{
    color: white;
    font-family: sans-serif;
    background-color: gray;
    padding: 10px;
    font-weight: bold;
}
h1{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.mapa{
    display: flex;
    width: 200px;
    margin: 0;
    justify-content: left;
    align-items: center;
}
p{
    color: white;
}
h2{
    color: white;
}
textarea{
    width: 400px;
}
a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
footer{
    color: white;
    background-color: gray;
    padding:  0 auto;
    margin:  0 auto;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}
footer p{
    font-family: sans-serif;
    text-decoration: underline;
    margin: 10px;
}
footer p{
    text-decoration: none;
}